<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" >
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  {%- seo -%}
 
  {%- feed_meta -%}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GG70VLEM9X"></script>
  <script src="/assets/analytics.js" ></script>
  <script defer src="{{ "/assets/mode.js" | relative_url }}"></script>
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
</head>
