:root {
    --background-light: hsl(0, 0%, 100%) ;
    --background-dark:  hsl(180, 2%, 9%) ;
    --text-color-light: #111 ;
    --text-color-dark:  rgb(226, 229, 236) ;
    --nav-menu-light:   #1b1b1c;
    --nav-menu-dark:   #fefeff;
    --code-bg-light: #eef;
    --code-bg-dark: rgb(18, 18, 20);
    
    --text-color:       var(--text-color-light);
    --background-color: var(--background-light);
    --brand-color:      #2a7ae2 ;
    --grey-color:       #828282 ;
    --grey-color-light: lighten (var(--grey-color), 40%);
    --grey-color-dark:  darken (var(--grey-color), 25%);
    --toggle-bg-light: hsl(0, 53%, 47%);
    --toggle-bg-start: hsl(210, 78%, 56%);
    --toggle-bg-end: hsl(146, 68%, 55%);
    --toggle-light: hsl(230, 19%, 60%);
    --toggle-button-light: hsl(228, 46%, 96%);
    --toggle: var(--toggle-light);
    --toggle-bg: var(--toggle-bg-light);
    --toggle-button: var(--toggle-button-light);
    --toggle: #ff0808;
    --nav-menu-color: var(--nav-menu-light);
    --code-bg: var(--code-bg-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --text-color:       var(--text-color-dark);
    --background-color: var(--background-dark);
    --brand-color:      #2a7ae2 ;
    --grey-color:       #828282 ;
    --grey-color-light: lighten (var(--grey-color), 40%);
    --grey-color-dark:  darken (var(--grey-color), 25%);
    --toggle: var(--light-bg);
    --toggle-bg: linear-gradient(
      225deg,
      var(--toggle-bg-end) 0%,
      var(--toggle-bg-start) 98.02%
    );
    --toggle-button: var(--dark-bg);
    --nav-menu-color: var(--nav-menu-dark);
    --code-bg: var(--code-bg-dark);
  }
}

body.light {
  color-scheme: light;
  --text-color:       var(--text-color-light);
  --background-color: var(--background-light);
  --brand-color:      #2a7ae2 ;
  --grey-color:       #828282 ;
  --grey-color-light: lighten (var(--grey-color), 40%);
  --grey-color-dark:  darken (var(--grey-color), 25%);
  --toggle-bg-light: hsl(230, 22%, 74%);
  --toggle-bg-start: hsl(210, 78%, 56%);
  --toggle-bg-end: hsl(146, 68%, 55%);
  --toggle-light: hsl(230, 19%, 60%);
  --toggle-button-light: hsl(228, 46%, 96%);
  --toggle: var(--toggle-light);
  --toggle-bg: var(--toggle-bg-light);
  --toggle-button: var(--toggle-button-light);
  --nav-menu-color: var(--nav-menu-light);
  --code-bg: var(--code-bg-light);
}

body.dark {
  color-scheme: dark;
  --text-color:       var(--text-color-dark);
  --background-color: var(--background-dark);
  --brand-color:      #2a7ae2 ;
  --grey-color:       #828282 ;
  --grey-color-light: lighten (var(--grey-color), 40%);
//  --grey-color-dark:  darken (var(--grey-color), 25%);
  --grey-color-dark:  lighten (var(--grey-color), 50%);
  --toggle: var(--light-bg);
  --toggle-bg: linear-gradient(
    225deg,
    var(--toggle-bg-end) 0%,
    var(--toggle-bg-start) 98.02%
  );
  --toggle-button: var(--dark-bg);
  --nav-menu-color: var(--nav-menu-dark);
  --code-bg: var(--code-bg-dark);
}