<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
<!-- The navigation uses a single anchor with default .btn classes - this should be a primary button. 
<a class="btn btn-primary to-page-top" href="#pageTop" title="Scroll to page top">
  <span class="fa fa-angle-up"></span>
</a> -->
    {%- include footer.html -%}

  </body>

</html>
