<!DOCTYPE html>
<html class="desktop-menu-open" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Home | Style Guide</title>
  <!-- meta name="description" content="Description of the page less than 150 characters" --> <!-- meta description -->
  <link rel="stylesheet" href="https://basecoat.cdn.dimensiondata.com/4.7.1/css/module.font.min.css">
  <link rel="stylesheet" href="https://basecoat.cdn.dimensiondata.com/4.7.1/css/ntt.basecoat.min.css">
  <!-- link rel="stylesheet" href="css/app.min.css" --> <!-- your own stylesheet here -->
  <link rel="apple-touch-icon" sizes="180x180" href="https://basecoat.cdn.dimensiondata.com/4.7.1/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://basecoat.cdn.dimensiondata.com/4.7.1/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://basecoat.cdn.dimensiondata.com/4.7.1/img/favicon/favicon-16x16.png">
  <link rel="mask-icon" href="https://basecoat.cdn.dimensiondata.com/4.7.1/img/favicon/safari-pinned-tab.svg" color="#0072bc">
  <link rel="shortcut icon" href="https://basecoat.cdn.dimensiondata.com/4.7.1/img/favicon/favicon.ico">
  <meta name="theme-color" content="#ffffff">
</head>

<body>

  <div class="desktop-menu-layout mobile-menu-layout">

    <div class="desktop-menu">
      <p>See the <a href="/components.navigation.html#mainGlobalNavigation">desktop-menu example</a>.</p>
    </div>

    <header class="site-header">
      <p>See the <a href="/components.navigation.html#utilityNavigation">navbar example</a>.</p>
    </header>

    <main class="page-wrapper">
      <p>See <a href="/components.typography.html">typography</a>, <a href="/components.forms.html">forms</a>, and other component examples.</p>
    </main>

    <footer class="site-footer">
      <p>This is the website footer.</p>
    </footer>

    <div class="mobile-menu">
      <p>see the <a href="/components.navigation.html#mainGlobalNavigation">mobile-menu example</a>.</p>
    </div>

  </div>

  <script src="https://basecoat.cdn.dimensiondata.com/4.7.1/js/jquery-3.3.1.min.js"></script>
  <script src="https://basecoat.cdn.dimensiondata.com/4.7.1/js/ntt.basecoat.min.js"></script>
  <!-- script src="js/app.min.js"></script --> <!-- your own script here -->
  <script defer src="https://basecoat.cdn.dimensiondata.com/4.7.1/js/outdated-browser.min.js"></script>
</body>

</html>
